# Ignore patterns
.nfs*
*.pyc
.dumbo.json
.DS_Store
.*.swp
*.pth
*.tar
*.pth.tar
*.pt
core.*
log.*
**/__pycache__/**
.ipynb_checkpoints/
datasets/data/
experiment-*
*.tmp
*.pkl
*.onnx
*.jpg
*.jpeg
*.sif
*.png
*.json
**/.mypy_cache/*
.mypy_cache/*
not_tracked_dir/
.vscode
gpt/api_key.json
!**/crops_output/**

# --- Override ignore rules for images in EXPERIMENTS/generate_detection_videos_and_meshes ---
# Allow PNG files in that folder and all its subfolders
#!detr/EXPERIMENTS/generate_detection_videos_and_meshes/*.png
#!detr/EXPERIMENTS/generate_detection_videos_and_meshes/**/*.png
!detr/EXPERIMENTS/generate_detection_videos_and_meshes/var_videos_processed_full/variable_pretrained_resnet101-BConcave+BConcavePatient+3900/**/*.png
!detr/EXPERIMENTS/generate_detection_videos_and_meshes/full_videos_processed_full/full_resolution_resnet101-BConcave+BConcavePatient+3900/**/*.png
!detr/EXPERIMENTS/generate_detection_videos_and_meshes/videos_org/*.json

# Allow JPG files in that folder and all its subfolders
#!detr/EXPERIMENTS/generate_detection_videos_and_meshes/*.jpg
#!detr/EXPERIMENTS/generate_detection_videos_and_meshes/**/*.jpg

# Allow JPEG files in that folder and all its subfolders
#!detr/EXPERIMENTS/generate_detection_videos_and_meshes/*.jpeg
#!detr/EXPERIMENTS/generate_detection_videos_and_meshes/**/*.jpeg